a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.menu-links {
  display: flex;
  margin-left: auto;
}
@media only screen and (max-width: 600px) {
  .menu-links {
    visibility: hidden;
  }
}

@media only screen and (min-width: 600px) {
  .hamburger {
    visibility: hidden;
    opacity: 0;
  }
  .logo {
    margin-left: -40px;
  }
}

.nav-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-items li {
  margin-left: 10px;
}
